#main {
    margin: 30px 8px;
    padding: 15px;
    background-color: whitesmoke;
    text-align: center;

}

#image{
    display: block;
    max-width: 100%;
    height: auto;
    content: centered;
}

main{
    display: block;
}

h1 {
    display: block;
    position: inherit;
    font-size: 20px;
}

ul {
    padding: 50px;
    margin: 40px;
}